.box {
  width: 50%
}

@media only screen and (max-width: 980px) {
  nav {
    background-color: #b88400;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  }

  .box{
    width: 100%;
  }

  #desktop-layout{
    flex-direction: column;
  }

  #page-header {
    margin-top: 0;
    margin-left: 0;
    max-width: 100vw;
    height: 350px;
  }
}

