.page-header{
  height: 400px;
  width: 100%;
  margin-top: 120px;
  background-color: #b88400;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

img {
  display: block;
  margin: auto;
}

h2 {
    display: block;
    margin: auto;
    text-align: center;
}