#page-header{
  /* height: 400px; */
  background-color: #b88400;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  /* width: 418px; */
  height: 400px;
  max-width: 550px;
}

img {
  display: block;
  margin: auto;
}

h2 {
    display: block;
    margin: auto;
    text-align: center;
}
