nav {
 /*  z-index: 1000;
  display: block; */
/*   position: fixed;
 */  width: 100%;
  height: 120px;
  background-color: #4056A1;
  background-image: url("https://www.transparenttextures.com/patterns/crossword.png");
  font-family: 'Bungee', cursive;
  color: #ffffff;
  padding: 1.5em;
  top: 0;
 }

.container {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 1.5em;
}

.new-tweet-button {
  background: none;
  border: none;
  outline: none;
}

.new-tweet-button:hover {
  background:none;
  border: none;
  cursor:pointer;
}

.fas {
  color: black;
}

@-webkit-keyframes arrow-jump {
  0%   { opacity: 0;}
  100% { opacity: 1; 
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
    }
}
#arrow {
  -webkit-animation: arrow-jump 1s infinite;
  -moz-animation:    arrow-jump 1s infinite;
  -o-animation:      arrow-jump 1s infinite;
  animation:         arrow-jump 1s infinite;
}

